<h3>Messages</h3>

<div id ="sent-messages">
  <% if @sent_messages %>
    <% @sent_messages.each do |message| %>
      <p class="subject-line"><%= link_to (message.subject), message_path(message) %></p>
      <p><%= message.created_at.strftime("%d %b, %Y") %></p>
    <% end %>
  <% end %>
</div>
<div id ="received-messages">
  <% if @received_messages %>
    <% @received_messages.each do |message| %>
      <p class="subject-line"><%= link_to (message.subject), message_path(message) %></p>
      <p>From: <%= message.sender.name %></p>
      <p><%= message.created_at.strftime("%d %b, %Y") %></p>
    <% end %>
  <% end %>
</div>

<%= link_to 'New Message', new_message_path %>
